#photo {
  height: 250px;
  width: 250px;
  padding: 10px;
}

html,
body {
  color: white;
  background-color: rgb(19, 18, 35);
}

.card {
  background-color: transparent;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (min-width: 1135px) {
  #colPho {
    text-align: right !important;
  }
  #colNam {
    text-align: left !important;
  }
}
@media screen and (min-width: 551px) and (max-width: 768px) {
  #colPho {
    text-align: right !important;
  }
  #colNam {
    text-align: left !important;
  }
}
@media screen and (max-width: 551px){
  .box{
    display: block;
  }
}