#photo {
  height: 250px;
  width: 250px;
  padding: 10px;
}

html, body {
  color: white;
  background-color: rgb(19, 18, 35);
}

.card{
  background-color: transparent;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}